.header {
  height: 160px;
  color: white;
  background-image: url('/pictures/app-pictures/headerbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
}
.iconsContainer {
  display: flex;
  align-items: center;
  padding: 5px;
}
.leftContainer {
  min-width: 484px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
.homePageContainer {
  width: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  align-items: center;
}
.icon {
  color: white;
  width: 20px;
  height: 20px;
}
.prompt {
  color: white;
  text-decoration: none;
}
.downloadMobileappContainer {
  width: 116px;
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  align-items: center;
}
.middleContainer {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  height: 42px;
}
.searchBar {
  width: 100%;
  height: 100%;
  font-size: 15px;

  padding-left: 12px;
  padding-right: 12px;

  border: solid 1px rgb(240, 237, 237);
  border-right: none;

  background-color: rgb(250, 246, 246);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  box-sizing: border-box
}
.searchBar:focus {
  outline: none;
}
.searchButton {
  margin-left: -8px;
  border: solid 1px rgb(240, 237, 237);
  border-left: none;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
  background-color: rgb(250, 246, 246);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.searchIcon {
  color: black;
  height: 20px;
  width: 20px;
}
.rightContainer {
  min-width: 398px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding-left: 10px;
  align-items: center;
}
.logInButton {
  background-color: rgb(65, 165, 228);
  border: none;
  padding: 10px 4px;
  border-radius: 30px;
  color: white;
}
.uploadContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  align-items: center;
  width: 68px;
  margin-left: 10px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: rgb(244, 128, 147);
  height: 38px;
  border-radius: 12px;
}
