.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 30px 100px 30px;
}
.upContainer {
  display: flex;
  gap: 24px;
}
.leftContainer {
  flex: 2;
}
.leftPicture {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.navBar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -5px;
  height: 20%;
  background-color: grey;
}
.rightContainer {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 24px;
}
.subContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.picture {
  width: 100%;
  max-height: 145px;
  object-fit: cover;
  border-radius: 10px;
}
.description {
  margin: 0px;
  flex: 1;
}
.downContainer {
  width: 100%;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 50px;
}